@tailwind base;
@tailwind components;
@tailwind utilities;


.login{
    max-width:400px;
    margin:40px auto;
    padding: 2px;
    background: #fff;
    border-radius: 4px;

}
.signup{
    max-width:400px;
    margin:40px auto;
    padding: 2px;
    background: #fff;
    border-radius: 4px;

}