@tailwind base;
@tailwind components;
@tailwind utilities;


.login{
    max-width:400px;
    margin:40px auto;
    padding: 2px;
    background: #fff;
    border-radius: 6px;

}
.signup{
    max-width:400px;
    margin:40px auto;
    padding: 2px;
    background: #fff;
    border-radius: 46px;

}
form.signup, form.login {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background: #e0f2f1;
    border-radius: 6px;
  }
  
input {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
  }

.container {
  display: grid;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  border-radius: 1px;
  background-color:#e0f2f1;

}

.container-profile {
  display: flex;
  justify-content: center;
  
}


.box {
  border: 1.5px solid #acacac; /* Bordes de la caja */
  padding: 15px; /* Espacio interno de la caja */
  margin: 10px; /* Espacio externo de la caja */
  background-color:#f2f6fa; /* Color de fondo de la caja */
  font-family: Arial, sans-serif; /* Fuente del texto */
  border-radius: 8px; /* Bordes reclass="box"dclass="box"ondeados */
  max-width: 600px;
}

.box-text-field{
  
  padding: 15px; /* Espacio interno de la caja */
  margin: 10px; /* Espacio externo de la caja */
  background-color:#f2f6fa; /* Color de fondo de la caja */
  font-family: Arial, sans-serif; /* Fuente del texto */
  border-radius: 8px; /* Bordes reclass="box"dclass="box"ondeados */
  
}
.centered-container {
  display: grid;
  place-items: center;
  height: 15vh;
}

.item {
  margin: 5px 0; /* Espacio entre los elementos */
  padding: 1px;
  text-align: center;
}

.nav {
    background-color: #f2f6fa; /* Color de fondo del header */
    padding: 10px;
    max-height:100px;
    border-radius: 20px;
  }
  
.nav-links {
    display: flex; /* Hace que los elementos hijos se alineen en una fila */
    gap: 30px; /* Espacio entre los enlaces */
}
  
.nav-links a {
    text-decoration: none; /* Quita el subrayado */
    color: #333; /* Color del texto */
}

dropdown-input {
  position: relative;
  width: 200px;
}

dropdown-input input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

dropdown-item {
  padding: 10px;
  cursor: pointer;
}

dropdown-item:hover {
  background-color: #f1f1f1;
}