@tailwind base;
@tailwind components;
@tailwind utilities;


.login{
    max-width:400px;
    margin:40px auto;
    padding: 2px;
    background: #fff;
    border-radius: 4px;

}
.signup{
    max-width:400px;
    margin:40px auto;
    padding: 2px;
    background: #fff;
    border-radius: 4px;

}

.nav {
    background-color: #f2f6fa; /* Color de fondo del header */
    padding: 10px;
  max-height:75px;
  }
  
.nav-links {
    display: flex; /* Hace que los elementos hijos se alineen en una fila */
    gap: 30px; /* Espacio entre los enlaces */
}
  
.nav-links a {
    text-decoration: none; /* Quita el subrayado */
    color: #333; /* Color del texto */
}